/* Work Sans Google Font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* Universal Styles */
* {
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}

:root {
    --font-color-0: #FFFFFF;
    --font-color-01: #131313;
    --font-color-02: #424242;
    --font-color-03: #727272;
    --primary-color: #FF900E;
    --background-color: #FF900E1A;
}

.container {
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
}

.btn-primary {
    border-radius: 8px;
    border: 1px solid var(--primary-color);
    padding: 20px 24px;
    color: var(--primary-color) !important;
    transition: all 0.3s;
    font-size: 1.25rem !important;
    font-weight: 600 !important;
    cursor: pointer;
    background-color: transparent;
}

.btn-primary:hover {
    background-color: var(--primary-color);
    color: var(--font-color-0) !important;
}

h2 {
    color: var(--font-color-01);
    font-size: 2.81rem;
    font-weight: 700;
    margin-bottom: 24px;
}

p {
    color: var(--font-color-03);
    font-size: 1rem;
    margin: 32px 0;
}

/* Header Styles */
header {
    background-color: var(--background-color);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}

.nav-container .web-title {
    text-decoration: none;
    color: var(--font-color-01);
    font-size: 2.81rem;
    font-weight: 700;
    text-align: center;
}

.nav-container nav>ul {
    display: flex;
    gap: 30px;
}

.nav-container nav>ul li {
    list-style: none;
    text-align: center;
}

.nav-container nav>ul li a {
    text-decoration: none;
    color: var(--font-color-02);
    font-size: 1.12rem;
    font-weight: 500;
    transition: all 0.3s;
}

.nav-container nav>ul li a:hover {
    color: var(--primary-color);
}

/* Banner Styles */
.banner {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url(../images/banner.png);
    padding: 100px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 700px;
}

.banner .banner-section-container {
    width: 80%;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.banner .banner-section-container h2 {
    color: var(--font-color-0);
    font-size: 4rem;
    font-weight: 700;

}

.banner .banner-section-container p {
    color: var(--font-color-0);
    font-size: 1.25rem;
    line-height: 26px;
    margin: 30px 0;
}


/* Features Styles */
.features {
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
}

.features .features-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.features .features-content h2 span.orange {
    color: var(--primary-color);
}

.features .features-content h2 span.gray {
    color: var(--font-color-03);
}


/* Facts Styles */
.facts{
    padding: 100px 0;
}

.facts-card-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.facts-card-container .card {
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    text-align: center;
    padding: 40px;
    width: 250px;
    height: 250px;
}

.facts-card-container .card h3 {
    color: var(--font-color-02);
    font-size: 2.81rem;
    font-weight: 600;
    margin-top: 10px;
}

.facts-card-container .card p {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 5px;
}