/* Work Sans Google Font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* Universal Styles */
*{
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

:root{
    --font-color-01: #131313;
    --font-color-02: #424242;
    --font-color-03: #727272;
    --primary-color: #FF900E;
    --background-color: #FF900E1A;
}

.container{
    width: 75%;
    max-width: 1440px;
    margin: 0 auto; 
}