/* Laptop or Large Device Responsive */
@media screen and (min-width: 960px) and (max-width: 1024px) {

    /* Features Style */
    .features {
        flex-direction: column-reverse;
    }

    .features .features-content {
        text-align: center;
    }

    /* Sponsor Styles */
    .sponsor-image-container {
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
        gap: 30px;
    }
}

/* Tablet or Medium Device Responsive */
@media screen and (min-width: 576px) and (max-width: 960px) {
    .btn-primary {
        background-color: var(--primary-color);
        color: var(--font-color-0) !important;
    }

    .banner-content-container,
    .features-content,
    .facts-content-container,
    .sponsor-content-container,
    .footer-content-container {
        width: 580px;
        margin: 0 auto;
    }

    /* Nav and Banner Styles */
    .nav-container {
        flex-direction: column;
        gap: 50px;
    }

    .banner .banner-section-container h2 {
        font-size: 3rem;
    }

    .banner .banner-section-container p {
        font-size: 1.5rem;
        line-height: 40px;
    }

    /* Features Style */
    .features {
        flex-direction: column-reverse;
    }

    .features .features-images {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .features .features-content {
        text-align: center;
    }

    /* Facts Styles */
    .facts-content-container {
        text-align: center;
    }

    .facts-card-container {
        flex-direction: column;
        gap: 20px;
    }

    /* Sponsor Styles */
    .sponsor-image-container {
        grid-template-columns: 1fr;
        place-items: center;
        gap: 30px;
    }

    /* Footer Style */
    .footer-container {
        align-items: flex-start;
        flex-direction: column;
    }

    .footer-content-container{
        margin: 0;
    }

    .footer-container .footer-form form {
        display: flex;
        flex-direction: column;
    }
}

/* Mobiles Device Responsive */
@media screen and (max-width: 576px) {
    .btn-primary {
        background-color: var(--primary-color);
        color: var(--font-color-0) !important;
    }

    .banner-content-container,
    .features-content,
    .facts-content-container,
    .sponsor-content-container,
    .footer-content-container {
        width: 80%;
        margin: 0 auto;
    }

    /* Nav and Banner Styles */
    .nav-container {
        flex-direction: column;
        text-align: center;
        gap: 50px;
    }

    .nav-container nav>ul {
        gap: 10px;
    }

    .banner .banner-section-container h2 {
        font-size: 2rem;
    }

    .banner .banner-section-container p {
        font-size: 1rem;
        line-height: 20px;
    }

    /* Features Style */
    .features {
        flex-direction: column-reverse;
    }

    .features .features-images {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .features .features-content {
        text-align: center;
    }

    /* Facts Styles */
    .facts-content-container {
        text-align: center;
    }

    .facts-card-container {
        flex-direction: column;
        gap: 20px;
    }

    /* Sponsor Styles */
    .sponsor-image-container {
        grid-template-columns: 1fr;
        place-items: center;
        gap: 30px;
    }

    /* Footer Style */
    .footer-container {
        align-items: flex-start;
        flex-direction: column;
    }
    
    .footer-content-container{
        margin: 0;
    }

    .footer-container .footer-form form {
        display: flex;
        flex-direction: column;
    }
}